
.appContainer {
  display: grid;
  grid-template-columns: 66% 34%;
  grid-template-rows: 10% 66% 24%;
  height: 100%;
  overflow: hidden;
}

.alertBar {
  grid-column: 1 / 3; /* Spans across all columns */
  grid-row: 1; /* Occupies the first row */
}

.mapWrapper-left {
  grid-column: 1; /* Starts from the first column */
  grid-row: 2 / 4; /* Occupies the second row */
}

.mapWrapper-full {
  grid-column: 1 / 3; /* Starts from the first column */
  grid-row: 2 / 4; /* Occupies the second row */
}

.actionMenu-right {
  grid-column: 2; /* Starts from the second column */
  grid-row: 2 ; /* Occupies the first row */
}

.missionControl-right {
  grid-column: 2; /* Starts from the second column */
  grid-row: 3; /* Occupies the second row */
}

.fod-progress {
  grid-column: 3; /* Starts from the third column */
  grid-row: 1 / 3; /* Spans across both rows */
}

.videoFeedButton-left {
  position: absolute;
  bottom: 10px;
  right: 35%; /* Adjust this value according to your layout */
  z-index: 1000;
  cursor: "pointer";
  border-radius: 50%;
  border: "none";
  background: "none";
  padding: 0;
}

.videoFeedButton-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  cursor: "pointer";
  border-radius: 50%;
  border: "none";
  background: "none";
  padding: 0;
}

.imageContainerFullLeft {
  position: relative;
  grid-column: 1; /* Starts from the first column */
  grid-row: 2 / 4;
}

.imageContainerFullScreen {
  position: relative;
  grid-column: 1 / 3; /* Starts from the first column */
  grid-row: 2 / 4;
}

.videoFeedShownFull {
  width: 100%; /* Make sure the image fills the container */
  height: 100%; /* Make sure the image fills the container */
  object-fit: cover; /* Ensure the image covers the entire container */
  position: absolute; /* Position the image absolutely within its container */
  top: 0; /* Align image to the top of its container */
  left: 0; /* Align image to the left of its container */
}

.videoFeedButtonToShowMap {
  position: absolute;
  bottom: 10px;
  right: 10px; /* Adjust this value according to your layout */
  z-index: 1000;
  cursor: "pointer";
  border-radius: 50%;
  border: "none";
  background: "none";
  padding: 0;
}

/* for when map not video feed but sidebar still there */
.timeToKillSnackbar {
  position: absolute; /* Position the snackbar absolutely */
  top: 10%; /* Align the snackbar vertically to the center */
  left: 38%; /* Align the snackbar horizontally to the center */
  transform: translate(-50%, -50%); /* Center the snackbar */
  z-index: 1000;
}

.timeToKillSnackbarFull{
  position: absolute; /* Position the snackbar absolutely */
  top: 10%; /* Align the snackbar vertically to the center */
  left: 50%; /* Align the snackbar horizontally to the center */
  transform: translate(-50%, -50%); /* Center the snackbar */
  z-index: 1000;
}

.snackbar {
  background-color: green;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 18px;
  transition: background-color 0.5s;
  cursor: pointer;
}

