
.appContainer {
  display: grid;
  grid-template-columns: 66% 34%;
  grid-template-rows: 10% 66% 24%;
  height: 100%;
  overflow: hidden;
}

.alertBar {
  grid-column: 1 / 3; /* Spans across all columns */
  grid-row: 1; /* Occupies the first row */
}

.mapWrapper-left {
  grid-column: 1; /* Starts from the first column */
  grid-row: 2 / 4; /* Occupies the second row */
}

.mapWrapper-full {
  grid-column: 1 / 3; /* Starts from the first column */
  grid-row: 2 / 4; /* Occupies the second row */
}

.actionMenu-right {
  grid-column: 2; /* Starts from the second column */
  grid-row: 2 ; /* Occupies the first row */
}

.missionControl-right {
  grid-column: 2; /* Starts from the second column */
  grid-row: 3; /* Occupies the second row */
}

.fod-progress {
  grid-column: 3; /* Starts from the third column */
  grid-row: 1 / 3; /* Spans across both rows */
}

.videoFeedButton-left {
  position: absolute;
  top: 83%;
  left: 49%; /* Adjust this value according to your layout */
  transform: translateY(-50%);
  z-index: 1000; /* Ensure it appears above other elements */
  cursor: "pointer";
  border-radius: 50%;
  border: "none";
  background: "none";
  padding: 0;
}

.videoFeedButton-right {
  position: absolute;
  top: 83%;
  left: 83%;
  /* Adjust this value according to your layout */
  transform: translateY(-50%);
  z-index: 1000; /* Ensure it appears above other elements */
  cursor: "pointer";
  border-radius: 50%;
  border: "none";
  background: "none";
  padding: 0;
}